{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Forgot Password</title>
    <link rel="stylesheet" href="{% static "register.css" %}">
</head>
<body>
    <div class="container">
        <div id="password-reset-form">
            <h2>yorgot password</h2>
            <p>Enter your email address below and we eill send instructions to reset your password.</p>

            <form method="POST">
                {% csrf_token %}
                {% for field in form %}
                    <div class="form-group">
                        {{ field.label_tag }}
                        {{ field }}
                        {% if field.help_text %}
                            <small class="form-text text-muted">{{ field.help_text }}</small>
                        {% endif %}
                        {% for error in field.errors %}
                            <p class="message error">{{ error }}</p>
                        {% endfor %}
                    </div>
                {% endfor %}
                {% for message in messages %}
                    <h1 class="message">{{ message }}</h1>
                {% endfor %}
                <button type="submit">request reset link</button>
            </form>

            <div class="toggle">
                <p><a href="{% url 'login' %}">back to login</a></p>
            </div>
        </div>
    </div>
</body>
</html>
